<h1 class="title">That is a Tasty Burger!</h1>
<h2 class="title">You should crush these burgers!</h2>


<ul class="list-group">
    {{#each burger}}
    {{#unless this.devoured}}
    <li class="list-group-item">{{this.id}}. {{this.burger_name}}</li>

    <br>
   
    <button class="devour-burg" data-id="{{id}}" data-newEat="{{devoured}}">Smash this Burg!</button>
   
    <br>


    {{/unless}}
    {{/each}}



</ul>


<h2 class="title">Here are the Burgeres you Crushed!</h2>

<ul class="list-group">
    {{#each burger}}
    {{#if this.devoured}}
    
    <li class="list-group-item">{{this.id}}. {{this.burger_name}}</li>
    
    {{/if}}
    {{/each}}


</ul>

<h2 class="title">Add a burger you would like to eat!</h2>
<form class="make-form">

    <div class="form-group">
        <label for="newMonster">Burger Name:</label>
        <input type="text" size="35" id="newMonster" name="burger_name">
    </div>
<br>
<br>

    <div class="form-group">
        <label for="devour">Has this burger been crushed yet?</label>
        <br>
        <br>
        <input type="radio" name="devoured" value="1" > Devoured!
        <br>
        <br>
        <input type="radio" name="devoured" value="0"checked> Have not been eaten yet!
        <br>
        <br>
    </div>

    <button type="submit">Create Monster</button>
</form>
